.home-image-profile {
  width: var(--profile-image-size);
  height: var(--profile-image-size);
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.home-image-profile:hover {
  transform: scale(1.08);
}