.side-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #7f00ff1A;
  border: 2px solid #7f00ff;
  border-radius: 5%;
}

.side-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.side-text-profile {
  background: none;
  border: none;
  color: black;
  font-family: 'NexonKartGothic';
  font-weight: bold;
  font-size: 50px;
}

.side-image-profile {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 100%;
}

.side-image-link {
  width: 40px;
  height: 40px;
  cursor: pointer;
}