.side-card {
  background-color: #7f00ff1A;
  border: 2px solid #7f00ff;
  border-radius: 5%;
  text-align: center;
}

.side-text-profile {
  background: none;
  border: none;
  color: black;
  font-family: 'NexonKartGothic';
  font-weight: bold;
  font-size: 50px;
}

.side-image-profile {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 100%;
}