.skill-icon {
    position: relative;
    width: 50px;
    height: 50px;
}

.skill-icon img {
    width: 50px;
    height: 50px;
    display: block;
}

.skill-tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);

    padding: 4px 8px;
    font-size: 12px;
    white-space: nowrap;

    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 4px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.skill-icon:hover .skill-tooltip {
    opacity: 1;
}

.project-icon {
    position: relative;
    display: inline-flex;
    width: 100px;
    height: 100px;
}

.project-icon img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
}

.project-tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);

    padding: 4px 8px;
    font-size: 12px;
    white-space: nowrap;

    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 4px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.project-icon:hover .project-tooltip {
    opacity: 1;
}

.experience-row {
    display: grid;
    grid-template-columns: 120px 1px 1fr auto;
    column-gap: 20px;
    align-items: start;
}

.experience-date {
    grid-column: 1;
    grid-row: 1;
    color: black;
    font-family: 'NexonKartGothic';
    font-weight: 700;
    font-size: 20px;
    padding-left: 10px;
}

.experience-divider {
    grid-column: 2;
    grid-row: 1;
    align-self: stretch;
    width: 1px;
    background-color: var(--main-color);
}

.experience-content {
    grid-column: 3;
    grid-row: 1;
}

.experience-name {
    color: black;
    font-family: 'NexonKartGothic';
    font-weight: 700;
    font-size: 30px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.experience-subtitle {
    color: var(--description-color);
    font-family: 'NexonKartGothic';
    font-weight: 700;
    font-size: 20px;
}

.experience-description {
    grid-column: 1 / -1;
    grid-row: 2;
    font-family: 'NexonKartGothic';
    font-weight: 500;
    font-size: 20px;
    color: var(--description-color);
    margin: 5px 10px
}

.experience-url {
    grid-column: 4;
    grid-row: 1 / 3;
    align-self: center;
    font-size: 1.5rem;
    color: var(--description-color);
    padding-right: 10px;
}

.experience-url:hover {
    color: var(--main-color);
}

.experience-divider-bottom {
    grid-column: 1 / -1;
    grid-row: 3;
    height: 1px;
    background-color: var(--main-color);
    margin-bottom: 10px;
}

.experience-1st-award {
    color: gold;
}

.experience-2nd-award {
    color: silver;
}

.experience-3rd-award {
    color: chocolate;
}