.category-dropdown {
    position: relative;
}

.dropdown-trigger {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    color: var(--text-main-color);
    background: var(--background-main-color);
    font-family: 'NexonKartGothic';
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.arrow {
    font-size: 12px;
    transition: transform 0.15s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 6px);
    width: 100%;
    background: var(--background-main-color);
    border-radius: 12px;
    border: 1px solid var(--description-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 08);
    overflow: hidden;
    z-index: 20;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: var(--text-main-color);
}

.dropdown-menu li:hover {
    background: var(--background-color);
}

.dropdown-menu li.selected {
    font-weight: 700;
    color: var(--main-color);
}

.check {
    font-size: 14px;
}

@media (min-width: 769px) {
    .category-dropdown {
        display: none;
    }
}