:root {
  --main-color: #7F00FF;
  --description-color: #777777;
  --badge-background-color: #F3F4F6;

  --background-main-color: #ffffff;
  --text-main-color: #000000;
  --text-active-color: #15803D;

  --main-font: 50px;  
  --title-font: 40px;
  --subtitle-font: 25px;
  --description-font: 20px;

  --profile-image-size: 300px;
  --icon-image-size: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-main-color);
}

main {
  width: 80%;
  max-width: calc(100%-2em);
  background-color: var(--background-main-color);
  margin: auto;
  padding: 40px 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.copyright {
  justify-content: center;
  text-align: center;
  background: var(--background-main-color);
  width: 100%;
  padding-top: 40px;
  padding-bottom: 120px;

  font-family: 'NexonKartGothic';
  font-weight: 500;
  font-size: 20px;
  color: var(--text-main-color);
}

@media (max-width: 1024px) {
  :root {
    --main-font: 45px;
    --title-font: 35px;
    --subtitle-font: 25px;
    --description-font: 20px;

    --profile-image-size: 220px;
  }
}

@media (max-width: 768px) {
  :root {
    --main-font: 40px;
    --title-font: 30px;
    --subtitle-font: 20px;
    --description-font: 16px;

    --profile-image-size: 160px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #9B6CFF;
    --description-color: #BBBBBB;
    --badge-background-color: #F3F4F6;

    --background-main-color: #000000;
    --text-main-color: #ffffff;
    --text-active-color: #4ab973;
  }
}