:root {
  --main-color: #7F00FF;
  --divider-color: #BBBBBB;
  --description-color: #777777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 80%;
  max-width: calc(100%-2em);
  margin: auto;
  padding: 40px 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
