:root {
  --main-color: #7F00FF;
  --divider-color: #BBBBBB;
  --description-color: #777777;
  --badge-ongoing-color: #15803D;
  --badge-background-color: #F3F4F6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 80%;
  max-width: calc(100%-2em);
  margin: auto;
  padding: 40px 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.copyright {
  justify-content: center;
  text-align: center;
  background: white;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 120px;

  font-family: 'NexonKartGothic';
  font-weight: 500;
  font-size: 20px;
}
