@font-face {
  font-family: "NexonKartGothic";
  font-weight: normal;
  src: url("./fonts/NEXON\ Kart\ Gothic\ Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NexonKartGothic";
  font-weight: bold;
  src: url("./fonts/NEXON\ Kart\ Gothic\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NexonKartGothic";
  font-weight: bolder;
  src: url("./fonts/NEXON\ Kart\ Gothic\ ExtraBold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "NexonKartGothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
