@font-face {
  font-family: "NexonKartGothic";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/NEXON\ Kart\ Gothic\ Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NexonKartGothic";
  font-weight: 700;
  font-style: bold;
  src: url("./fonts/NEXON\ Kart\ Gothic\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NexonKartGothic";
  font-weight: 800;
  font-style: bolder;
  src: url("./fonts/NEXON\ Kart\ Gothic\ ExtraBold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "NexonKartGothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}